# Datos Generales

## Semana 3 - Actividad 1
 
* **Nombre Alumno:** Ulises Guadalupe Ortega Mena
* **Matrícula del alumno:** A01793983
* **Materia:** Ciencia y analítica de datos
* **Profesor:** Jobish Vallikavungal Devassia
* **Fecha:** 04/10/2022

# **Parte 1: Fundamentos de bases de datos**

**Fundamentos de bases de datos y para ciencia de datos:**  

Los científicos de datos por lo general ocupan alrededor del 80% del tiempo en la preparación y limpieza de los datos para que puedan ser utilizados el modelo de Machine Learning. Para que el trabajo sea eficiente es de mucha utilidad que el conjunto de datos que trabajan sea ordenado, por ello se suele trabajar con bases de datos relacionales, ya que cumplen con esa característica.
Una base datos es una colección de información, la cual está depositada en tablas divididas en campos con un nombre asignado. En dichas tablas se tienen los registros de información que van ordenados en función de los campos que constituyen a la tabla.
Un científico de datos ocupa dicha información para ayudar a la toma de decisiones en el negocio en el que se encuentre laborando, esto con la ayuda del modelo que realice del mundo real.


**Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos:**

Un Data Warehouse es un ecosistema orientado a datos con el que se pueden realizar diversas tareas que ayudan a la toma de decisiones fundamentadas con datos provenientes de diversas fuentes y con el apoyo de análisis de datos históricos. Se componen de capas en donde la más externa es la que está expuesta al usuario por medio de un Front End para la representación visual de los datos. Una capa intermedia que está constituida por el motor de bases de datos, que es el encargado de cargarlos y almacenarlos. Por último, tenemos una capa interna que es en donde se quedan almacenados los datos.
Esta herramienta facilita la labor del científico de datos ya que le permite manipularlos sin la necesidad de tener conocimientos sólidos en algún lenguaje de programación.

# **Parte 2: Selección y limpieza de los Datos en Python**

# Limpieza de datos

La limpieza de datos implica observar más de cerca los problemas en los datos que ha seleccionado incluir en el análisis.

### Problema de datos

In [164]:
import pandas as pd
import numpy as np

In [165]:
df  = pd.read_csv('default of credit card clients.csv', index_col=0)
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [166]:
# Se tomarán en consideración para el análisis los datos generales de los clientes, su historial de pagos y los importes de su estado de cuenta
df = df.loc[ : , 'X1':'X17']

In [167]:
# Se renombran algunos campos para que sea más facil identificar el tipo de información que contienen.
df.rename(columns = {'X1' : 'MontoCreditoUSD', 'X2': 'Genero', 'X3': 'Educación', 'X4': 'EstadoCivil', 'X5': 'Edad' }, inplace = True)
df

,MontoCreditoUSD,Genero,Educación,EstadoCivil,Edad,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17
ID,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0

In [168]:
# Verifica si hay valores nulos en alguno de los campos del dataframe
df.isnull().any()

MontoCreditoUSD    False
Genero              True
Educación           True
EstadoCivil         True
Edad                True
X6                  True
X7                  True
X8                  True
X9                  True
X10                 True
X11                 True
X12                 True
X13                 True
X14                 True
X15                 True
X16                 True
X17                 True
dtype: bool

### Solución: 

Se observa que en todos los campos, a excepción de "MontoCreditoUSD", existen valores faltantes. Se eliminarán los registros con valores faltantes, ya que imputarles un valor, como la media, puede contribuir al filtrado de información al momento de dividir los conjunto de entrenamiento y validación cuando se comience a trabajar en el modelo de ML.

In [169]:
df.dropna(inplace = True) # Se eliminan los registros con valores faltantes

In [170]:
df.isna().values.any() # Se valida si algúno de los registros del dataframe aún contiene valores faltantes

False

In [171]:
df # El dataframe ahora tiene 36 registros menos, debido a que fueron eliminados por tener valores nulos.

,MontoCreditoUSD,Genero,Educación,EstadoCivil,Edad,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17
ID,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0

# **Parte 3: Preparación de los datos**

Responde detalladamente las siguientes preguntas: 

1. **¿Qué datos considero mas importantes? ¿Por qué?**

Se tomarán en consideración para el análisis los datos generales de los clientes, su historial de pagos y los importes de su estado de cuenta. Los datos generales pueden fungir como variables categóricas ayudarán al algoritmo a la segmentación de los tipos de clientes que se encuentran dentro del conjunto de datos. Los historiales de pago y estado de cuenta aportarán a la proyección a futuro del modelo para poder pronosticar el comportamiento de pago y deuda de los clientes.

2. **¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Se eliminaron valores nulos debido a que, comparado con el tamaño de la data set, la cantidad de estos es despreciable, por lo que no se desperdicia mucha información al eliminarlos. Otra razón es que, debido a que aún no se han creado los conjuntos de entrenamiento y validación para entrenar el modelo, el aplicar una técnica para reemplazar valores puede filtrar información del conjunto de validación al de entrenamiento, provocando que el modelo pueda sobreajustarse al conjunto de datos con el que ese está trabajando.

3. **¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?**

Si, es muy importante, debido a que los valores nulos o el tipo de dato incorrecto de algún campo, puede provocar errores al realizar el entrenamiento del modelo. Otra razón es porque, por ejemplo, el número de ventas de algún producto representado como una cadena de texto, no aportaría al modelo tanta información como si lo implementamos como tipo numérico.

4. **¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

Si, aunque no muy relevantes para este caso, ya que hay algunos campos que se están procesando con punto decimal, y esos campos son enteros realmente, pero no se está perdiendo información que ya no tiene un valor después del punto decimal. De ser el caso contrario, un decimal representado como un entero, ahí sí habría pérdida de la información que está después del punto decimal.

5. **¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

Se eliminaron columnas con la finalidad de mantener únicamente los campos que, a mi criterio, pueden aportar patrones para el modelo que de vaya a implementar. El historial de pagos, sobre todo, considero que aporta bastante información sobre el uso que el cliente le da a su tarjeta.
Otro ajuste que se aplicó fue el renombrar algunos campos para que la manipulación e interpretación de los datos sea más legible y fácil de comprender, con ello la tarea de manipulación de la información se realiza de forma más clara. 
Y, por último, se realizó la eliminación de registros del conjunto de datos ya que considero que la cantidad de registros eliminados no es significativa en comparación con el tamaño del conjunto completo, por lo que si representa una perdida considerable de información.